body {
  background-color: #575fcf;
  position: relative;
}

.geral {
  display: flex;
  margin-top: 10%;
}

.gerals {
  display: flex;
  margin: 50px auto 30px;
  flex-direction: column;
}

#login-box {
  background-color: white;
  width: 380px;
  height: 290px;
  margin: 140px auto 30px;
  border-radius: 5px;
  margin-top: 7%;
}

#login-box-label {
  height: 45px;
  text-align: center;
  font: bold 14px/45px sans-serif;
  border-bottom: 1px solid;
  box-shadow: 1px 0px 3px black;
  color: #555555;
  text-shadow: 1px 0px 1px white;
}

.input-div {
  margin: 20px;
  padding: 5px;
  background-color: #f2f5f7;
  border-radius: 3px;
}

.input-div input {
  width: 310px;
  height: 35px;
  padding-left: 5px;
  font: normal 13px sans-serif;
  color: #333;
  border-radius: 3px;
  border: 1px solid #bfc4c6;
  outline: none;
}

.input-div:hover {
  background-color: #e0f1fc;
}

.input-div:hover input {
  border-color: #3c40c6;
}

#input-senha {
  margin-top: -10px;
}

#botoes {
  display: flex;
  padding: 5px 10px;
}

#botoes button {
  border-radius: 4px;
  padding: 15px 25px;
  border: 2px solid #1e272e;
  background-color: #3c40c6;
  color: #fff;
}

#botoes .login {
  margin-left: 50px;
}

#botoes button:hover {
  background-color: #fff;
  color: #3c40c6;
  cursor: pointer;
}

#botoes .container {
  display: block;
  position: relative;
}

#botoes .container input {
  cursor: pointer;
}

.geral img {
  width: 35em;
  height: 25em;
  top: 50px;
  margin: 0px auto 30px;
}

.forgot a {
  color: #fff;
  text-decoration: none;
  margin: 30px auto -30px;
  padding: 5px 10px;
  margin-left: 40%;
}

.botaoIniciar {
  margin: 30px 45% -30px;
  min-width: 200px;
}

.forgot {
  margin-top: 15px;
  margin-left: 13%;
}

@media (max-width: 1000px) {
  .geral {
    flex-direction: column;
    text-align: center;
  }

  #login-box {
    margin: 140px auto 30px;
  }

  .forgot {
    margin-left: 22%;
  }

  .forgot a {
    margin-left: 29%;
  }

  .botaoIniciar {
    margin-left: 41%;
  }
}

/***** Não Cadastrado ****/

.img-erro img {
  width: 35em;
  height: 20em;
  margin-left: 350px;
}
.texto {
  margin-left: 520px;
  font-size: 18pt;
}
.botoes-erro {
  margin-top: 50px;
  margin-left: 500px;
}

.botoes-erro button {
  border-radius: 4px;
  padding: 15px 25px;
  border: 2px solid #1e272e;
  background-color: #3c40c6;
  color: #fff;
  margin-left: 5px;
}

.botoes-erro button:hover {
  background-color: #fff;
  color: #3c40c6;
  cursor: pointer;
}
